.btn {
  background-color: #0abde3;
  color: white;
  margin-right: 6px;
  
}

.btn:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    text-decoration: none;
    
}

.insta_logo{
    width: 40px;
    margin: 15px;
}

.navbar{
    background-color: #f0f0f0;
    padding-bottom: 0;
    /* border-radius: 0 0 30px 30px; */
}

.des{
    text-decoration: none;
    color: white;
}

.des:hover{
    color: hsl(0, 0%, 100%);


}
