@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap");

.html {
  /* background-color: white; */
  background-color: #d9d9d9;

  color: black;
  margin: 0;
  padding: 0;
}

.homepage {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(250, 247, 239);
  overflow: auto; /* Add this line */



}
.homemain {
  
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  height: max-content;
  /* margin-top: 30px; */
  margin-bottom: 30vh;
}


.alpha {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: max-content;
  border-radius: 30px;
  margin: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.bl23{
  margin-top: 50px;
  

}
