/* Login.css */

.log {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body3 {
  background-color: #f0f0f0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.alpha3{
  background-color: #fff;
  border-radius: 10px;
  /* padding: 20px; */
  box-sizing: border-box;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  display: flex;
  justify-content: center;
  margin: 50px;


}

.ert34 {
  padding: 2rem !important;
  width: 100%;
}

.m9oi {
  margin-top: 1rem !important;
  margin-bottom: 1.9rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: 'PT Serif', serif;
}

.rectangle2 {
  display: flex;
  margin-bottom: 1.5rem;
}

.rectangle2 input{
  display: none;
}

.admin .bu11,
.user .bu21 {
  width: 212px;
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.admin .bu11 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user .bu21 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.admin_login,
.user_login {
  display: none;
}

.admin_login.active,
.user_login.active {
  display: block;
}

.row1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: #142850;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.recovery {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tet2 {
  color: #142850;
  text-decoration: none;
  margin-left: 0.5rem;
}

.vgv {
  display: flex;
 justify-content: space-between;
}

.vgv input {
  margin-right: 10px;
  width: 200px;
}

.vgv input:last-child {
  margin-right: 0;
}

.vgv .gap{
  margin-right: 15px;
} 

.huhu7{
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile78 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.avatar-wrapper {
  width: 180px; /* Adjust the width and height to fit your desired size */
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
}

.eit56 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hidden-input78 {
  display: none;
}
